<div id="header-bar">
        <img src="img/logo.png" style="width:55px;height:38px;";>

        <div id="sidebar-handle" xonClick="clickedSidebarHandle()" onclick="onTakePicture();">
            <img src="img/sidebar-handle.png" width="100%">
        </div>

    </div>

    <div id="moments-wrapper">

        <div id="moment-images">
            <img src="img/temp/moment-images.png" width="100%" height="100%">
        </div>

        <div id="moment-title">
            {{ data.LastEventTitle }}
        </div>

        <div id="profile-images">
            <span ng-repeat="joiner in thislast.joined">
                
                <!--
                <span ng-if="showGravatar(joiner)"><img src="http://www.gravatar.com/avatar/{{ joiner.userid }}?s=40&d=mm"></span>
                <span ng-if="showFacebookProfilePic(joiner)"><img src="http://graph.facebook.com/{{ joiner.userid }}/picture?type=square" style="width:40px;height:40px;"></span>
                <span ng-if="showTwitterProfilePic(joiner)"><img src="https://twitter.com/{{ joiner.userid }}/profile_image?size=normal" style="width:40px;height:40px;"></span>
                -->
            </span>
        </div>

        <div id="next-moment-wrapper">
            <div id="camera-shutter">
                <canvas id="camera" width="100%" height="100%" style="border:2px solid black; overflow: hidden;"></canvas>
                <img src="img/shutter.png" width="100%" height="100%">
            </div>
            <div id="next-moment">
                <img src="img/group.png" width="50%"><br>
                {{ data.NextEventAttending }}<br>
                Joined<br>
                <img src="img/join.png" width="80%">
                <p>Friday<br>4:10PM</p>
            </div>
        </div>
    </div>

    <div id="footer-bar">
        <div id="footer-buttons">
            <img src="img/photo.png" onclick="CanvasCamera.start(opt)">
            <img src="img/comment.png">
            <img src="img/location.png" onclick="checkLocale()">
        </div>
    </div>

    <div id="countdown-bar">
        <div id="countdown-clock">{{ timeTillNextEvent }}</div>
    </div>

    <!--
    <button ng-click="login('facebook')"><img src="img/facebook.png"></button>
    <button ng-click="login_anonymous()"><img src="img/twitter.png"></button>
    <button ng-click="login_anonymous()"><img src="img/googleplus.png"></button>
    <button ng-click="logout()"><img src="img/email.png"></button>

    <p ng-if="authData">Logged in user: <strong>{{ authData.uid }}</strong></p>
    <p ng-if="error">Error: <strong>{{ error }}</strong></p>

    <p ng-repeat="moment in moments">
      <img src="{{moment.profilepic}}">
      <img src="http://www.gravatar.com/avatar/{{moment.gravatarhash}}?s=32&d=mm">
      <span>{{moment.Name}}</span>
    </p>
    -->